* {
    font-family: 'Poppins', sans-serif;
}
.options-container {
    margin: 1em 0;
}
.options-label {
    margin-bottom: 0.5em;
}
.btn {
    margin: 0.5em 0;
    border-radius: 0.5em;
    background-color: #9381ff;
}
.btn:hover, .btn:focus, .btn:active, .btn:active:focus {
    background-color: #9381ff;
}
.btn-label {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.cam-button {
    min-width: 100%;
}
.visibility-button {
    min-width: 100%;
}
.visibility-row {
    margin-bottom: 1em;
    background-color: #d1d1ff;
    border-radius: 0.5em;
}
.credit {
    margin-left: 0.1em;
    font-size: small;
    text-align: left;
}
ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}